version: '3'
services:
  nginx_proxy:
    image: nginx:1.13.8-alpine
    restart: always
    working_dir: /home/static
    volumes:
       - ./docker/nginx.conf:/etc/nginx/nginx.conf # 映射 ginx 配置文件
    ports:
      - 9066:80 # 绑定容器的80端口到本的1080端口
    links:
      - web:web.host
      - node:api.host
  pg:
    image: postgres:10.4-alpine
    restart: always
    volumes:
      - "./docker/volumes/pgdata:/var/lib/postgresql/data:rw"
    ports:
      - 6432:5432 # 本地端口:容器端口
  node:
    image: keymetrics/pm2:8-alpine
    user: "node"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=production
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_DATABASENAME=postgres
      - DB_USERNAME=postgres
      - POSTGRES_PASSWORD=postgres
      - PORT=8080
    volumes:
      - ./:/home/node/app
    links:
      - pg:postgres
    command: ["pm2-runtime", "start", "pm2.dev.json"]
    depends_on:
      - pg
  web:
    build:
      context: .
      dockerfile: ./docker/web.Dockerfile
    user: node
    working_dir: /home/node/app
    environment:
      - HOST=0.0.0.0
      - PORT=8080
    volumes:
      - ./assets/:/home/node/app/assets
      - ./components/:/home/node/app/components
      - ./layouts/:/home/node/app/layouts
      - ./middleware/:/home/node/app/middleware
      - ./pages/:/home/node/app/pages
      - ./plugins/:/home/node/app/plugins
      - ./static/:/home/node/app/static
      - ./store/:/home/node/app/store
      - ./theme/:/home/node/app/theme
      - ./utils/:/home/node/app/utils
      - ./nuxt.config.js:/home/node/app/nuxt.config.js
    links:
      - node:api.host
    command: ["npm", "run", "dev"]
    depends_on:
      - node